.colortitulo{
   color:#6938e5;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;

background: linear-gradient(#6938e5, rgb(12, 9, 1) 100%);

}


.botones{

background-color: rgb(5, 75, 75);
color: brown;
}


.separaciondecard{
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
justify-content: space-between;
background:#1180ef;
background: linear-gradient(0deg, rgb(77, 4, 178) 0%, rgb(14, 10, 1) 100%);



}

.colordeclick{
  
background: #132f4b;

}

.colordeclick:hover{
   background: rgb(189, 204, 23);
   background:#6938e5
   ;

}

.ordendefooter{
   list-style: none;
   display: flex;
 flex-wrap: wrap;
 justify-content: space-around; 
 margin-top: 10px;
 
}

.itemdetailcarta{
   display: flex;
   flex-wrap: wrap;
}

.tamañodetail{
   display: flex;
 flex-direction: column;
   width: 40%;
   margin-left: 30%;
}
.titulo{
   font-family: "Jersey 10", sans-serif;
   font-weight: 400;
   font-style: normal;
 }

 .separaciondeitemcard{
   color: black;
  
  
   
 }
 .separaciondeitemcard2{
margin-top: 200px;
margin-right: 100px;



 }
 .itemcard3{
display: flex;
flex-direction: row;
justify-content: space-around;

 }
 .hola{
animation: mover-izquierda-derecha 2s 1; 
animation-fill-mode: forwards; 
}
 @keyframes mover-izquierda-derecha {
   from{
      transform:translate(-100px)
      
 }
 to{
   transform: translate(20px);
 }

 }